<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>571016803264-dehlgdi36jjk4rp51755djp28gje87dm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.571016803264-dehlgdi36jjk4rp51755djp28gje87dm</string>
	<key>API_KEY</key>
	<string>AIzaSyDw_QWhVKlGA8cNRcU8UxCGbFNUkC3wEW8</string>
	<key>GCM_SENDER_ID</key>
	<string>571016803264</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterWorkspace</string>
	<key>PROJECT_ID</key>
	<string>apps-for-good---umass-nav</string>
	<key>STORAGE_BUCKET</key>
	<string>apps-for-good---umass-nav.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:571016803264:ios:1aa6e18cf046923d7f4e25</string>
</dict>
</plist>